<md-tab label="Settings">
    <md-content class="md-padding">
        <h1 class="md-display-2">Settings</h1>
        <div>
            <div>
                <md-content md-theme="docs-dark" layout-padding="" layout="row" layout-sm="column">
                    <md-input-container>
                        <label>Azure Service Fabric cluster URL</label>
                        <input ng-model="asfURL" size="50">
                    </md-input-container>
                    <md-button class="md-primary" ng-click="setASFURL($event)">
                        Submit
                    </md-button>
                </md-content>
            </div>
        </div>
    </md-content>
</md-tab>
